.club-info{
	position: fixed;
	width: 100%;
	text-align: left;
	/* padding-left: 35%; */
	font-size: 3vw;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 100;
	color: #eeeeee;
	background-color: #1a1a33;
	height: 3vw;
	margin-left: -1vw;
	margin-top: -1vw;
	border: 1px solid #1a1a33;
	/* text-shadow: 0 0 10px #82e0db, 0 0 25px #eeeeee; */
}

.empty{
	margin-top: 1vw;
	visibility: hidden;
}

.content{
	/* border: 2px solid #000000; */
	display: table;
	padding-left: 25px;
	padding-right: 25px;
	height: 3vw;
	margin-left: -1vw;
	margin-right: -1vw;
	text-align: left;
	font-size: 1.4vw;
	font-family: sans-serif;
	color: #f4f4f4;
}
