form{
	margin: auto;
	margin-top: 35vh;
	height: 100vh;
	width: 100vw;
	/* border: 5px solid #aaaaaa; */
	text-align: center;
}

input[type="text"]{
	/* border: 5px solid #aaaaaa; */
	width: 30vw;
	height: 3vh;
}

input[type="submit"]{
	width: 30vw;
	height: 3vh;
}

button{
	margin-top: -0vh;
	width: 30vw;
	height: 3vh;
}

select{
	width: 30vw;
	height: 3vh;
}

p{
	font-size: 0.6vw;
	text-align: left;
	margin-left: 35vw;
	color: crimson;
}
